{% load static %}

{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "/inicio.css" %}">
    <title>Online Contel</title>
</head>
<body>
    <div class="login-page" style="display:grid">
        <div class="form">
            <video id="video" controls autoplay width="360" height="640" controls>
                <source src="./static/contelreel.mp4" type="video/mp4">
                <!-- Texto alternativo -->
              </video>
        <form id = "guest" style="display:none" class="login-form" action ={{post}} method="post">
            
            {% csrf_token %}
            <input type="text" name="magic" value={{magic}}/>
            <input type="text" name="username" value={{username}}/>
            <input type="text" name="password" value={{passwd}}/>
            <button>Conectar</button>
        </form>
            <p class="message">¿No está registrado? <a href="/registro_guest">Contacta a Contel</a></p>
        </div>
    </div>
</body>
</html>
<script>
    document.addEventListener('DOMContentLoaded', ()=> {
        var video = document.getElementById('video'); //Referencia a objeto HTML
        video.onended = function () { //Evento de video finalizado
        
            console.log('fin');
            displayForm();
            }
        }
    );

    function displayForm(){
        document.getElementById("guest").style.display = 'block';
        document.getElementById("video").style.display = 'none';
    }
    setTimeout(()=>{
        displayForm();
    }
    ,10000);

</script>

{% endblock %}
