{% load static %}

{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "bnc.css" %}">
    <title>Portal Cautivo WIFI BNC Invitados</title>
</head>
<body>
    <div class="login-page" style="display:grid">
        <div class="form">
            <video class="video" id="video" autoplay controls>
                <source src="./static/bnc3.mp4" type="video/mp4">
                <!-- Texto alternativo --> BNC APP
            </video>
        <form id = "guest" style="display:none" class="login-form" action ={{post}} method="post">
            <img class ="bnclogo"src="{% static "bnclogo.png" %}"/>
            {% csrf_token %}
            <input hidden id = 'magicnum' type="text" name="magic" value={{magic}}/>
            <input hidden id = 'usuario'type="text" name="username" value={{username}}/>
            <input hidden id = 'clave' type="text" name="password" value={{passwd}}/>
            <button>Conectar</button>
        </form>
            <p class="message">¡Portal diseñado e implementado por <a href="https://contel.com.ve"> Contel!</a></p>
        </div>
    </div>
</body>
</html>
<script>
    document.addEventListener('DOMContentLoaded', ()=> {
        var video = document.getElementById('video'); //Referencia a objeto HTML
        video.onended = function () { //Evento de video finalizado
        
            console.log('fin');
            displayForm();
            }
        }
    );

    function displayForm(){
        document.getElementById("guest").style.display = 'block';
        document.getElementById("video").style.display = 'none';
        let magicnum = document.getElementById('magicnum').value
        let magicnum2 = magicnum.substring(0,magicnum.length-1);
        document.getElementById('magicnum').value = magicnum2;
        let username = document.getElementById('usuario').value
        let username2 = username.substring(0,username.length-1);
        document.getElementById('usuario').value = username2;
        let clave = document.getElementById('clave').value
        let clave2 = clave.substring(0,clave.length-1);
        document.getElementById('clave').value = clave2;
    }
    

</script>

{% endblock %}
